.hole{
	background-color: #FFFFCC;
	width:auto;
	height:auto;
}

.hole-col{
	background-color: #FFFFCC;
	width:auto;
	height:auto; /*卓グループ列にチェックボックスがあるのでわかるためautoに変更*/
	margin-top:5px;
	margin-bottom:5px;
	margin-right:5px;
}

/*背景*/
.takuban{
	background-color: #FFFFCC;
	width:auto;
	height:auto;
	text-align:center;
	clear:both;
	margin:30px 10px;
}
.takuban table.takuGroup {
	/* 背景色と合わせ罫線を消す*/
	background-color: #FFFFCC;
	border-collapse: separate;

/* 卓マスの大きさはTDタグで指定するためコメントアウト*/
/* 	
	width:50px;
	height:50px;
 */
/* 卓グループを中央に寄せるためコメントアウト*/
/* 	margin:5px 0px; */
	margin:auto;
}
/*「.takuban table.takuGroup」と原則同じ構成*/
.takuban table.rowTakuGroup {
	background-color: #FFFFCC;
	border-collapse: separate;
	width:auto;
	height:auto;
	margin:auto;
}

.takuban table td{
	border: 1px solid #aaa;
	width:15px;
	height:15px;
	font-size:10pt;
}



.takuban table td.kado{
	border-color: hidden;
	border: hidden;
}
.takuban table td.center{
	border: hidden;
}
.takuban table td.hide{
	border: hidden;
}

/* .takubanCenter{ */
.takuban table td.takubanCenter{
	border: hidden;
}

.takubanShowHide{
	float:right;
}

/* スペース用のdivより　.classにmarginつけたほうが自然だと思うため */
/* .takuSpace {
	margin:10px
}
 */

.preview-on{
	visibility:hidden;
}
.hide-on{
	visibility:hidden;
}
.takuGroupCheck{
	margin:auto;
}
.modal-Takuban {
/* 	display:none; */
	font-size:7pt;
	z-index:2;
	/* 縦横の卓の場所がずれるのでコメントアウト*/
/* 	width:25px;
	height:5px; */
	text-align:center;
}
.takuColor0{
	background-color: #FFFFCC;
	color:black;
}
.takuColor1{
	background-color:red;
	color:white;
}
.takuColor2{
	background-color:navy;
	color:white;
}
.takuColor3{
	background-color:teal;
	color:white;
}


#out_Map{
	/*NotePcように一時的に狭くした*/
	width:500px;
	height:600px;
	border:1px solid;
/* 	white-space:nowrap; */
/* 	TODO overflowの横が表示されない*/
	overflow:scroll;
}
#out_Map_Html{
	width:500px;
	height:600px;
	border:1px solid;
	overflow:scroll;
}

#genMap_cont1{
	float:left;
}
#genMap_cont2{
	float:left;
	margin-left:30px;
}
 
label.takuGroupRetuLabel{
	color:#FF9933;
/* 	background:#cc0000; */
	font-size:7pt;
}
label.takuGroupLabel{
	color:#FF9933;
/* 	background:#cc0000; */
	font-size:7pt;
}
span.takuGroup_serial{
	color:#2ECCFA;
}

/*
*css点滅
*https://www.webcreatorbox.com/tech/css3-animation-colour
*/
.flashFavTakuMasu{
  animation: Flash1 2s infinite;
/*   -webkit-animation: Flash1 2s infinite; */
 }

/* アニメーション */
@keyframes Flash1{
	50%{
		background-color:#4169E1;
	}
}

