/* bootstrap‚Ìã‘‚« */
/* header‘S‘Ì*/
div#header .container{
	background-position: left top;
	background-repeat: no-repeat;
	background-size:contain;
}
/* header ƒƒjƒ…[æ“ª*/
div#header .navbar-default{
	background-image: url("/WonFesSys/img/header2.jpg");
}
div#header .navbar-default a{
	color: #009999;
}


