<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jp.wonfes.work.dao.mapper.WorkSearchMapper">
	<select id="selectWorkInfo"
		parameterType="com.jp.wonfes.work.dao.mapper.qo.SelectWorkInfoQoReq"
		resultType="com.jp.wonfes.work.dao.mapper.qo.SelectWorkInfoQoResp">
		select
		   ddp.dealer_id               as dealerId
		 , ddp.product_id              as producId
		 , ddp.product_name            as productName
		 , ddp.price                   as price
		 , ddp.season_id               as seasonId
		 , ev.event_date               as eventDate
		 , ev.event_aboutdate          as eventAboutDate
		 , ddpc.category_id            as categoryId
		 , cat.category_name           as categoryName
		 , cat.category_name_reading   as categoryNameReading
		from wfs.dealers_detail_products ddp
		 left join wfs.dealers_detail_products_categories ddpc
		 on ddp.dealer_id=ddpc.dealer_id and ddp.product_id=ddpc.product_id
		 inner join wfs.categories cat
		 on ddpc.category_id=cat.category_id
		 inner join wfs.event_dates ev
		 on ddp.season_id=ev.event_date_id
		<where>
			<if test="productName != null">
				ddp.product_name like #{productName}
			</if>
			<if test="priceFrom != null">
				and ddp.price <![CDATA[>]]> #{priceFrom}
			</if>
			<if test="priceTo != null">
				and ddp.price <![CDATA[<]]> #{priceTo}
			</if>
			<if test="seasonId != null">
				and ddp.season_id = #{seasonId}
			</if>
			<if test="categoryId != null">
				and ddp.category_id = #{categoryId}
			</if>
		</where>
	</select>
</mapper>