<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jp.wonfes.dealer.dao.mapper.DealerSearchMapper">
	<select id="selectDealersCategories" parameterType="int" resultMap="dealerResultMap" >
		select
			distinct dealer_id as dealer_id
		from
			wfs.dealers_detail_products_categories
		where
			category_id = #{category_id}
	</select>
<!-- 		select * from dealer where dealer_id = #{dealer_id} -->

	<resultMap id="dealerResultMap" type="com.jp.wonfes.dealer.dao.qo.SelectDealersCategoriesQoResp">
		<id property="id" column="dealer_id" />
	</resultMap>
	
</mapper>