<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="
				http://java.sun.com/xml/ns/javaee
 				http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">

	<!-- git管理の都合により、プロジェクト名にあわせ変更。もともとは「WonFesSys」 -->
	<display-name>WonFesSys2</display-name>

	 <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
	
	<!-- - Location of the XML file that defines the root application context. 
		- Applied by ContextLoaderListener. -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>
			 classpath:spring/application-config.xml
		</param-value>
	</context-param>

	<!-- - Servlet that dispatches request to registered handlers (Controller implementations). -->
	<servlet>
		<servlet-name>dispatcherServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/mvc-config.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
		
<!-- 		アプリケーション側で制御するため対応しない -->
<!--
		アップロードする1ファイルの最大バイト数×同時アップロードの許容ファイル数+その他データサイズ
		2000000*1+1000000
 -->
<!-- 		<multipart-config>
			<max-file-size>2000000</max-file-size>
			<max-request-size>3000000</max-request-size>
			<file-size-threshold>0</file-size-threshold>
		</multipart-config> -->
	</servlet>

	<servlet-mapping>
		<servlet-name>dispatcherServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<!-- エンコード指定 -->
	<filter>
		<filter-name>CharacterEncodingFilter</filter-name>
		<filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
		<init-param>
			<param-name>encoding</param-name>
			<param-value>UTF-8</param-value>
		</init-param>
		<init-param> 
            <param-name>forceEncoding</param-name> 
            <param-value>true</param-value> 
        </init-param> 
	</filter>
	<filter-mapping>
		<filter-name>CharacterEncodingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- ファイルアップロード -->
<!--　　アプリケーション側で制御するため不要
 	<filter>
		<filter-name>MultiparFilter</filter-name>
		<filter-class>org.springframework.web.multipart.support.MultipartFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>MultiparFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping> -->
	
	<!-- 認証 -->
	<filter>
		<filter-name>AuthFilter</filter-name>
		<filter-class>com.jp.wonfes.domain.auth.AuthFilter</filter-class>
	</filter>
 	<filter-mapping>
		<filter-name>AuthFilter</filter-name>
		<url-pattern>/accnt/accnt_03</url-pattern>
		<url-pattern>/accnt/accnt_04</url-pattern>
		<url-pattern>/accnt/accnt_05</url-pattern>
		<url-pattern>/accnt/accnt_06</url-pattern>
		<url-pattern>/dlr/dlr_01_01/*</url-pattern>
		<url-pattern>/dlr/dlr_02</url-pattern>
		<url-pattern>/dlr/dlr_03</url-pattern>
		<url-pattern>/dlr/dlr_04</url-pattern>
		<url-pattern>/wrk/wrk_01_01</url-pattern>
		<url-pattern>/wrk/wrk_01_02</url-pattern>
		<url-pattern>/wrk/wrk_02</url-pattern>
		<url-pattern>/wrk/wrk_03</url-pattern>
	</filter-mapping>	

	<!-- ディレクティブの共通設定 -->
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<el-ignored>false</el-ignored>
			<page-encoding>UTF-8</page-encoding>
			<scripting-invalid>false</scripting-invalid>
			<include-prelude>/WEB-INF/view/common/include.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>
	
<!--
ファイルアップロードエラーによるエラーをタグで制御したかったが、指定したlocationに遷移できない
とりあえずアプリケーションで制御を行う
 -->
<!-- 	<error-page>
		<error-code>500</error-code>
		<location>/WEB-INF/view/error.html</location>
	</error-page>
 --><!--  
	<error-page>
		<exception-type>org.springframework.web.multipart.MultipartException</exception-type>
		<location>/g06/error/fileupload</location>
	</error-page>
 -->

</web-app> 